* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    max-width: 3000px;
    background-color: #6193ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container h1, a {
    color: #fff;
    text-decoration: none;
}

header {
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
}

.conteudo {
    display: grid;
    grid-template-columns: 100%
}

.noticia img {
    max-width: 100%;
}

.destaque {
    margin-bottom: 56px;
}

.destaque .noticia .sobre {
    display: flex;
    font-size: 2em;
}

.destaque .noticia img {
    margin-right: 8px;
}

section h2 {
    margin-bottom: 32px;
}

aside {
    padding-left: 40px;
}

aside .noticia {
    margin-bottom: 24px;
}

.noticias {
    display: grid;
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    column-gap: 1%;
    row-gap: 5%;
}

button {
    background-color: #6193ff;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 7px;
    width: 250px;
    margin-top: 8px;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .conteudo {
        display: block;
    }

    .conteudo .destaque .noticia .sobre{
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .destaque .noticia h1 {
        display: block;
        font-size: 1.5em;
    }
    
    .destaque .noticia img {
        margin-right: 0;
    }

    .noticias {
        display: block;
    }

    .noticias .noticia {
        margin-bottom: 32px;
    }
    
    aside {
        padding-left: 0px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .conteudo .destaque .noticia .sobre{
        display: block;
    }

    .destaque .noticia h3 {
        font-size: 1.5em;
    }

    .noticias {
        grid-template-columns: 49% 49%;
    }
}
